#content-container main {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}
.content-left-div{
  display: inline;
  float: left;
  width: 30%;
}

.content-right-div{
  width: 70%;
  float: right;
}
.content-right-div h1{
  color: #1a545c;
}
.content-right-div .caption{
  font-size: 20px;
  text-decoration: underline;
}
.content-left-div ul {
    margin: 0px;
    padding: 0px;
}

.content-left-div ul li {
    list-style-type: none;
}
.content-left-div li img {
    width: 35px;
    height: 35px;
}

.content-left-div li a {
  color: #524c4c;
  font-size: 19px;
}
.content-left-div li a:hover {
  color: #000000;
  font-weight: bold;
}

.content-left-div .inner-left-div {
    /* padding: 10px 50px; */
    width: 75%;
    margin: auto;
    padding: 7em 0em;
}
p#show-more{
  text-align: right;
  margin-bottom: 5px;
  margin-top: 10px;
}
p#show-more a{
  text-decoration: none;
  color: #1a545c;
}
p#show-more a:hover{
  text-decoration: underline;
}
p#go-back{
    text-align: right;
    margin: 0px;

}
p#go-back a{
    text-decoration: none;
    color: #1a545c;
}
p#go-back a:hover{
    text-decoration: underline;

}

.content-right-div .news-content {
    column-count: 2;
    width: 93%;
}
.content-right-div img {
    /* float: left; */
    width: 100%;
}
p.multicolumn-content {
    text-align: justify;
    /* column-count: 2; */
}


@media only screen and (max-width: 450px) {
  .content-left-div {
    display: none;
}
.content-right-div {
    width: 100%;
    /* margin: 1em; */
}
.content-right-div .inner-div {
    padding: 10px;
}

p.multicolumn-content {
    font-size: 14px;
}

.slider-left-content {
    width: 100%;
    z-index: 10;
}
.slider-right-content {
    display: none;
}
}














/* slider content page */
header a, nav a{
  text-decoration: none;
}
.slider-left-content {
    width: 68%;
    float: left;
    padding: 1%;
}
.slider-left-content h1 {
    color: #1a545c;
    padding: 0px 10px;
}
.slider-left-content img {
    float: left;
    margin: 10px;
}

.slider-left-content p {
    text-align: justify;
    padding: 10px;
}

.slider-right-content {
    width: 30%;
    float: right;
}

.slider-right-content .inner-div {
    width: 70%;
    margin: 3em auto;
}

.slider-right-content h2 {
    color: #1a545c;
}
.slider-right-content li {
    padding: 5px 0px;
}
.slider-right-content li a {
    color: #524c4c;
    font-size: 19px;
}
.slider-right-content li a:hover{
  color: #000000;
  font-weight: bold;
}
